<a href="https://colab.research.google.com/github/alexandra-hidalgo/datasci_5_statistics-/blob/main/datasci_5_statistics_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import packages

In [61]:
import pandas as pd
import scipy
from scipy.stats import chi2_contingency as chi2
from scipy.stats import ttest_ind
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Chi-Square Test

### Hypothesis
Are physicians under Medicare prescribing patients Opioids and Antibiotics at the ssme time?

In [5]:
df = pd.read_csv('Medicare_Part_D_Prescribers_by_Geography_and_Drug_2021.csv')
df

<ipython-input-5-c8fc6c1d3425>:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Medicare_Part_D_Prescribers_by_Geography_and_Drug_2021.csv')

,Prscrbr_Geo_Lvl,Prscrbr_Geo_Cd,Prscrbr_Geo_Desc,Brnd_Name,Gnrc_Name,Tot_Prscrbrs,Tot_Clms,Tot_30day_Fills,Tot_Drug_Cst,Tot_Benes,...,GE65_Tot_30day_Fills,GE65_Tot_Drug_Cst,GE65_Bene_Sprsn_Flag,GE65_Tot_Benes,LIS_Bene_Cst_Shr,NonLIS_Bene_Cst_Shr,Opioid_Drug_Flag,Opioid_LA_Drug_Flag,Antbtc_Drug_Flag,Antpsyct_Drug_Flag
0,National,NaN,National,1st Tier Unifine Pentips,"Pen Needle, Diabetic",1178,3708,6598.5,102280.76,1313.0,...,5385.3,79992.58,NaN,1052.0,4167.66,22903.26,N,N,N,N
1,National,NaN,National,1st Tier Unifine Pentips Plus,"Pen Needle, Diabetic",1604,4564,7905.6,131927.33,1766.0,...,6603.0,106683.88,NaN,1450.0,4415.22,20335.83,N,N,N,N
2,National,NaN,National,Abacavir,Abacavir Sulfate,3560,30534,37402.4,7039482.37,4252.0,...,19275.5,3547013.16,NaN,2141.0,21278.04,186025.79,N,N,N,N
3,National,NaN,National,Abacavir-Lamivudine,Abacavir Sulfate/Lamivudine,2933,30248,38810.9,9656849.77,4030.0,...,22159.0,5457642.63,NaN,2272.0,23576.53,376349.75,N,N,N,N
4,National,NaN,National,Abacavir-Lamivudine-Zidovudine,Abacavir/Lamivudine/Zidovudine,38,118,120.0,146795.20,32.0,...,74.0,91779.21,NaN,19.0,1488.48,3939.47,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114886,State,9E,Foreign Country,Zaleplon,Zaleplon,2,18,18.0,315.49,NaN,...,18.0,315.49,*,NaN,0.00,61.47,N,N,N,N
114887,State,9E,Foreign Country,Zarxio,Filgrastim-Sndz,1,40,40.0,34498.72,15.0,...,40.0,34498.72,NaN,15.0,5.00,8815.21,N,N,N,N
114888,State,9E,Foreign Country,Ziprasidone Hcl,Ziprasidone Hcl,5,55,67.0,6356.96,11.0,...,NaN,NaN,*,NaN,50.68,78.84,N,N,N,Y
114889,State,9E,Foreign Country,Zolpidem Tartrate,Zolpidem Tartrate,13,110,134.3,1143.03,48.0,...,95.3,638.81,NaN,35.0,54.32,420.37,N,N,N,N
114890,State,9E,Foreign Country,Zolpidem Tartrate Er,Zolpidem Tartrate,2,13,21.0,821.57,NaN,...,NaN,NaN,*,NaN,18.50,216.24,N,N,N,N

In [10]:
df['Opioid_Drug_Flag'].value_counts()

N    112557
Y      2334
Name: Opioid_Drug_Flag, dtype: int64

In [11]:
df['Antbtc_Drug_Flag'].value_counts()

N    110072
Y      4819
Name: Antbtc_Drug_Flag, dtype: int64

In [9]:
contingency_table = pd.crosstab(df['Opioid_Drug_Flag'], df['Antbtc_Drug_Flag'])
print(contingency_table)

Antbtc_Drug_Flag       N     Y
Opioid_Drug_Flag
N                 107738  4819
Y                   2334     0

In [14]:
chi2, p, _, _ = chi2(contingency_table)
print(f"chi2 value: {chi2}")
print(f"P-value: {p}")

chi2 value: 103.239724899147
P-value: 2.969517382555205e-24

### Results
Taking antibiotics alongside opioids may increase the risk of opioid abuse. After this data analysis we can concluded that not patient was prescribed both medications at the same time.

# T-Test

### Hypothesis
Is there a difference in the mean of prevalence of Osteoporosis between Southern and not southern states?

In [26]:
Chronic_Conditions = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/HHA_507_2023/main/WK5/examples/data/cms-chronic-conditions/CC_R20_P08_v10_D18_WWDSE_Cond_complete.csv')
Chronic_Conditions

,Bene_Geo_Lvl,Bene_Geo_Desc,Bene_Geo_Cd,Bene_Age_Lvl,Bene_Demo_Lvl,Bene_Demo_Desc,Bene_Cond,Prvlnc,Tot_Mdcr_Stdzd_Pymt_PC,Tot_Mdcr_Pymt_PC,Hosp_Readmsn_Rate,ER_Visits_Per_1000_Benes,is_southern
0,State,Alabama,1.0,All,All,All,Alcohol Abuse,0.0188,25102.3405,23348.6039,0.2413,2184.7557,southern
1,State,Alabama,1.0,All,All,All,Alzheimer's Disease/Dementia,0.1140,25051.8813,22554.0576,0.2119,1410.8355,southern
2,State,Alabama,1.0,All,All,All,Arthritis,0.3897,15827.4930,14403.5780,0.1775,998.3314,southern
3,State,Alabama,1.0,All,All,All,Asthma,0.0499,20560.6948,18914.5834,0.2117,1614.4483,southern
4,State,Alabama,1.0,All,All,All,Atrial Fibrillation,0.0793,25450.4587,23414.3381,0.2268,1450.9822,southern
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046,State,Wyoming,56.0,All,All,All,Hypertension,0.4038,14596.5257,16604.1539,0.1563,1032.4567,non-southern
1047,State,Wyoming,56.0,All,All,All,Ischemic Heart Disease,0.2010,17492.8555,20113.1132,0.1772,1248.6805,non-southern
1048,State,Wyoming,56.0,All,All,All,Osteoporosis,0.0480,19099.8147,21672.1663,0.1684,1137.0338,non-southern
1049,State,Wyoming,56.0,All,All,All,Schizophrenia and Other Psychotic Disorders,0.0154,16458.9524,18485.6017,0.2006,2171.5057,non-southern
1050,State,Wyoming,56.0,All,All,All,Stroke,0.0210,31635.6460,35836.6714,0.1921,2129.5747,non-southern

In [27]:
# Keeping only complete rows
Chronic_Conditions = Chronic_Conditions.dropna()
len(Chronic_Conditions)

1051

In [ ]:
Osteoporosis_data = Chronic_Conditions[Chronic_Conditions['Bene_Cond'] == 'Osteoporosis']
Osteoporosis_data

In [38]:
# Spliting the data in two groups
southern_data = Osteoporosis_data[Osteoporosis_data['is_southern'] == 'southern']['Prvlnc']
southern_data

18      0.0612
79      0.0599
163     0.0607
183     0.0472
204     0.0834
225     0.0570
368     0.0545
389     0.0603
430     0.0643
514     0.0544
700     0.0608
761     0.0565
844     0.0583
885     0.0569
906     0.0682
966     0.0600
1008    0.0543
Name: Prvlnc, dtype: float64

In [40]:
non_southern_data = Osteoporosis_data[Osteoporosis_data['is_southern'] == 'non-southern']['Prvlnc']
non_southern_data

37      0.0395
58      0.0739
100     0.0784
121     0.0622
142     0.0764
244     0.0938
263     0.0551
284     0.0651
305     0.0632
326     0.0630
347     0.0635
409     0.0508
451     0.0754
472     0.0577
493     0.0497
535     0.0635
554     0.0586
575     0.0673
596     0.0569
616     0.0561
637     0.0703
658     0.0650
679     0.0728
719     0.0730
740     0.0622
782     0.0544
803     0.0741
823     0.0632
864     0.0693
925     0.0613
945     0.0442
987     0.0528
1029    0.0559
1048    0.0480
Name: Prvlnc, dtype: float64

In [43]:
t_stat, p_val = ttest_ind(southern_data, non_southern_data, equal_var=False)

In [44]:
print(f"T-statistic: {t_stat}")
print(f"P-value: {p_val}")

T-statistic: -1.1254398255725588
P-value: 0.26655807360859374

### Calculating the mean between southern and non-southern states

In [46]:
southern_mean = southern_data.mean()
southern_mean

0.059876470588235295

In [47]:
non_southern_mean = non_southern_data.mean()
non_southern_mean

0.06284117647058822

## Conclusions
There is only a slight difference between the mean of Osteoporosis between the southern and non-southern states.

# ANOVA

### Hypothesis
Do the geographic area and type have an impact in the blood lead levels (BLL) in children under 6 with a Number of BLL >=10 ug/dl?

In [51]:
df = pd.read_csv('Children_ELL.csv')
df

,geo_type,geo_area_id,geo_area_name,borough_id,time_period,Children under 6 years with elevated blood lead levels (BLL) Number BLL >=5 µg/dL,Children under 6 years with elevated blood lead levels (BLL) Number BLL >=5 µg/dL _NOTES,Children under 6 years with elevated blood lead levels (BLL) Number BLL>=10 µg/dL,Children under 6 years with elevated blood lead levels (BLL) Number BLL>=10 µg/dL _NOTES,Children under 6 years with elevated blood lead levels (BLL) Number BLL>=15 µg/dL,Children under 6 years with elevated blood lead levels (BLL) Number BLL>=15 µg/dL _NOTES,Children under 6 years with elevated blood lead levels (BLL) Number Tested,Children under 6 years with elevated blood lead levels (BLL) Number Tested _NOTES,"Children under 6 years with elevated blood lead levels (BLL) Rate BLL>=5 µg/dL per 1,000 tested","Children under 6 years with elevated blood lead levels (BLL) Rate BLL>=5 µg/dL per 1,000 tested_NOTES","Children under 6 years with elevated blood lead levels (BLL) Rate BLL>=10 µg/dL per 1,000 tested","Children under 6 years with elevated blood lead levels (BLL) Rate BLL>=10 µg/dL per 1,000 tested_NOTES","Children under 6 years with elevated blood lead levels (BLL) Rate BLL>=15 µg/dL per 1,000 tested","Children under 6 years with elevated blood lead levels (BLL) Rate BLL>=15 µg/dL per 1,000 tested_NOTES"
0,Borough,1,Bronx,1.0,2005,8245,NaN,595,NaN,167,NaN,64500,NaN,127.7,NaN,9.2,NaN,2.6,NaN
1,Borough,1,Bronx,1.0,2006,7272,NaN,474,NaN,144,NaN,67200,NaN,108.2,NaN,7.1,NaN,2.1,NaN
2,Borough,1,Bronx,1.0,2007,6174,NaN,438,NaN,135,NaN,68300,NaN,90.4,NaN,6.4,NaN,2.0,NaN
3,Borough,1,Bronx,1.0,2008,4254,NaN,292,NaN,105,NaN,69800,NaN,60.9,NaN,4.2,NaN,1.5,NaN
4,Borough,1,Bronx,1.0,2009,2742,NaN,278,NaN,103,NaN,70000,NaN,39.2,NaN,4.0,NaN,1.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,Neighborhood (UHF 42),104,Pelham - Throgs Neck,1.0,2005,1314,NaN,86,NaN,24,NaN,11600,NaN,113.2,NaN,7.4,NaN,2.1,NaN
572,Neighborhood (UHF 42),301,Washington Heights,3.0,2006,1115,NaN,104,NaN,36,NaN,11200,NaN,99.8,NaN,9.3,NaN,3.2,NaN
573,Neighborhood (UHF 42),407,Southwest Queens,4.0,2013,239,NaN,39,NaN,15,NaN,11400,NaN,20.9,NaN,3.4,NaN,1.3,NaN
574,Neighborhood (UHF 42),106,High Bridge - Morrisania,1.0,2013,281,NaN,31,NaN,9,*Estimate is based on small numbers so should ...,11800,NaN,23.8,NaN,2.6,NaN,0.8,*Estimate is based on small numbers so should ...
575,Neighborhood (UHF 42),103,Fordham - Bronx Pk,1.0,2016,209,NaN,47,NaN,24,NaN,11900,NaN,17.5,NaN,3.9,NaN,2.0,NaN

In [52]:
df.columns

Index(['geo_type', 'geo_area_id', 'geo_area_name', 'borough_id', 'time_period',
       'Children under 6 years with elevated blood lead levels (BLL) Number BLL >=5 µg/dL',
       'Children under 6 years with elevated blood lead levels (BLL) Number BLL >=5 µg/dL _NOTES',
       'Children under 6 years with elevated blood lead levels (BLL) Number BLL>=10 µg/dL',
       'Children under 6 years with elevated blood lead levels (BLL) Number BLL>=10 µg/dL _NOTES',
       'Children under 6 years with elevated blood lead levels (BLL) Number BLL>=15 µg/dL',
       'Children under 6 years with elevated blood lead levels (BLL) Number BLL>=15 µg/dL _NOTES',
       'Children under 6 years with elevated blood lead levels (BLL) Number Tested',
       'Children under 6 years with elevated blood lead levels (BLL) Number Tested _NOTES',
       'Children under 6 years with elevated blood lead levels (BLL) Rate  BLL>=5 µg/dL per 1,000 tested',
       'Children under 6 years with elevated blood lead levels (BLL) Rate  BLL>=5 µg/dL per 1,000 tested_NOTES',
       'Children under 6 years with elevated blood lead levels (BLL) Rate BLL>=10 µg/dL per 1,000 tested',
       'Children under 6 years with elevated blood lead levels (BLL) Rate BLL>=10 µg/dL per 1,000 tested_NOTES',
       'Children under 6 years with elevated blood lead levels (BLL) Rate BLL>=15 µg/dL per 1,000 tested',
       'Children under 6 years with elevated blood lead levels (BLL) Rate BLL>=15 µg/dL per 1,000 tested_NOTES'],
      dtype='object')

In [54]:
# Clearing columns names
df.columns = df.columns.str.replace(' ', '_')
df.columns

Index(['geo_type', 'geo_area_id', 'geo_area_name', 'borough_id', 'time_period',
       'Children_under_6_years_with_elevated_blood_lead_levels_(BLL)_Number_BLL_>=5_µg/dL',
       'Children_under_6_years_with_elevated_blood_lead_levels_(BLL)_Number_BLL_>=5_µg/dL__NOTES',
       'Children_under_6_years_with_elevated_blood_lead_levels_(BLL)_Number_BLL>=10_µg/dL',
       'Children_under_6_years_with_elevated_blood_lead_levels_(BLL)_Number_BLL>=10_µg/dL__NOTES',
       'Children_under_6_years_with_elevated_blood_lead_levels_(BLL)_Number_BLL>=15_µg/dL',
       'Children_under_6_years_with_elevated_blood_lead_levels_(BLL)_Number_BLL>=15_µg/dL__NOTES',
       'Children_under_6_years_with_elevated_blood_lead_levels_(BLL)_Number_Tested',
       'Children_under_6_years_with_elevated_blood_lead_levels_(BLL)_Number_Tested__NOTES',
       'Children_under_6_years_with_elevated_blood_lead_levels_(BLL)_Rate__BLL>=5_µg/dL_per_1,000_tested',
       'Children_under_6_years_with_elevated_blood_lead_levels_(BLL)_Rate__BLL>=5_µg/dL_per_1,000_tested_NOTES',
       'Children_under_6_years_with_elevated_blood_lead_levels_(BLL)_Rate_BLL>=10_µg/dL_per_1,000_tested',
       'Children_under_6_years_with_elevated_blood_lead_levels_(BLL)_Rate_BLL>=10_µg/dL_per_1,000_tested_NOTES',
       'Children_under_6_years_with_elevated_blood_lead_levels_(BLL)_Rate_BLL>=15_µg/dL_per_1,000_tested',
       'Children_under_6_years_with_elevated_blood_lead_levels_(BLL)_Rate_BLL>=15_µg/dL_per_1,000_tested_NOTES'],
      dtype='object')

In [56]:
df2 = df[['geo_type', 'geo_area_name', 'Children_under_6_years_with_elevated_blood_lead_levels_(BLL)_Number_BLL>=10_µg/dL']]
df2

,geo_type,geo_area_name,Children_under_6_years_with_elevated_blood_lead_levels_(BLL)_Number_BLL>=10_µg/dL
0,Borough,Bronx,595
1,Borough,Bronx,474
2,Borough,Bronx,438
3,Borough,Bronx,292
4,Borough,Bronx,278
...,...,...,...
571,Neighborhood (UHF 42),Pelham - Throgs Neck,86
572,Neighborhood (UHF 42),Washington Heights,104
573,Neighborhood (UHF 42),Southwest Queens,39
574,Neighborhood (UHF 42),High Bridge - Morrisania,31
575,Neighborhood (UHF 42),Fordham - Bronx Pk,47

In [57]:
df2.dtypes

geo_type                                                                             object
geo_area_name                                                                        object
Children_under_6_years_with_elevated_blood_lead_levels_(BLL)_Number_BLL>=10_µg/dL     int64
dtype: object

In [58]:
print(df2.isnull().sum())
print(df2.describe())

geo_type                                                                             0
geo_area_name                                                                        0
Children_under_6_years_with_elevated_blood_lead_levels_(BLL)_Number_BLL>=10_µg/dL    0
dtype: int64
       Children_under_6_years_with_elevated_blood_lead_levels_(BLL)_Number_BLL>=10_µg/dL
count                                         576.000000
mean                                           99.234375
std                                           274.841442
min                                             0.000000
25%                                            12.000000
50%                                            31.000000
75%                                            68.000000
max                                          3082.000000